.tooltip {
  position: fixed;
  background-color: #ffffe1;
  color: #000;
  border: 1.5px solid #000;
  padding: 2px 7px;
  pointer-events: none;
  font-size: 11px;
  z-index: 2147483647;
}

/* Fade in animation */
.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
