.rename-error-container {
  background-color: #ece9d8;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.rename-error-message {
  font-size: 13px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 60px;
}

.rename-error-button {
  border: 1px solid black;
  font-size: 14px;
  display: grid;
  place-items: center;
  width: 90px;
  height: 25px;
  text-align: center;
  box-shadow: 1px 1px 1px 0 white inset,
    -1px -1px 1px 0 rgba(0, 0, 0, 0.5) inset;
  margin: 0 auto;
}

.rename-error-button:active {
  box-shadow: 0 0 0 1px #aca899 inset;
}
